<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">
    {{#if principal}}

    {{else}}
    <a class="navbar-brand font-weight-bold" href="/"><img src="/logo_empresa/{{empresa.EMP_LOGO}}" height="50"
        class="d-inline-block align-top"></a>
    {{/if}}

    <!-- Collapse button -->
    <button class="navbar-toggler rounded-lg" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon rounded-lg" style="color: #123b61; background-color: #123b61; color"></span>
    </button>

    <div class="collapse navbar-collapse text-small" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        {{#if usuario.ADMIN_ID}}
        <li class="nav-item">
          <a class="nav-link font-weight-bolder" href="/adminPanel" style="color: #123b61;">
            <i class="fas fa-sign-in-alt"></i> Panel</a>
        </li>
        {{/if}}
        {{#if usuario.USU_TIPO}}
        <li class="nav-item">
          <a class="nav-link font-weight-bolder" href="/panel" style="color: #123b61;">
            <i class="fas fa-sign-in-alt"></i> Panel</a>
        </li>
        {{/if}}
        {{#if usuario}}
        {{else}}
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bolder" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: #123b61;"><i class="fas fa-user-plus"></i>
            Registrarse</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink"
            style="background-color: #8bc34a;">
            <a class="dropdown-item text-small font-weight-bolder" style="color: #123b61;"
              href="/addPropietario">Propietario</a>
            <a class="dropdown-item text-small font-weight-bolder" style="color: #123b61;" href="/addAgente">Agente</a>
            <a class="dropdown-item text-small font-weight-bolder" style="color: #123b61;"
              href="/addInmo">Inmobiliaria</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bolder" href="/login" style="color: #123b61;">
            <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
        </li>
        {{/if}}


      </ul>
    </div>
    <!--/.Navbar -->
  </div>
</nav>
<!-- Navbar -->