<div class="container">
    <div class="sidebar rounded-lg">
        <div class="header  elegant-color p-1">
            <h5 class="h5 text-white text-center">Panel Administracion</h5>
        </div>
        <div class="list-group list-group-flush pl-2 pr-2 pt-5 pb-5">
             <a href="" class="list-group-item list-group-item-action waves-effect active">
                <i class="fas fa-home mr-3"></i>Inicio
            </a>
             <a href="componentes" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-plus-circle mr-3"></i>Administar Componentes
            </a>
            <a href="" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-briefcase mr-3"></i>Administrar Anuncios
            </a>
            <a href="" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-envelope-open mr-3"></i>Administrar Usuarios</a>
            <a href="" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-headset mr-3"></i>Mensajes</a>
            <a href="cunta" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Mi Cuenta</a>
            <a href="" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesi칩n</a>
        </div>
    </div>
    <div class="content-panel white rounded-lg mb-5">
        <div class="header pt-5">
            <h2 class="font-weight-normal font-italic text-center">Bienvenido Luis</h2>
        </div>
        <h5 class="font-weight-normal font-italic text-center">Este es el panel de Administraci칩n de <b>Inmobiliaria Ya</b>,
            donde prodr치s:</h5>
        <div class="row">
            <div class="col-sm-6">
                <!-- Card Dark -->
                <div class="card m-3">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
                            alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body elegant-color white-text rounded-bottom">
                        <!-- Title -->
                        <h4 class="card-title">Administrar Componentes del sistema</h4>
                        <hr class="hr-light">
                        <!-- Text -->
                        <p class="card-text white-text mb-4">Gestiona los tipos de inmuebles y las caracteristicas de los mismos</p>
                        <!-- Link -->
                        <a href="componentes" class="white-text d-flex justify-content-end">
                            <h5>Administrar <i class="fas fa-angle-double-right"></i></h5>
                        </a>
                    </div>
                </div>
                <!-- Card Dark -->
            </div>
            <div class="col-sm-6">
                <!-- Card Dark -->
                <div class="card m-3">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
                            alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body elegant-color white-text rounded-bottom">
                        <!-- Title -->
                        <h4 class="card-title">Administrar Anuncios</h4>
                        <hr class="hr-light">
                        <!-- Text -->
                        <p class="card-text white-text mb-4">Gestiona la relevancia de los anuncios de los clientes</p>
                        <!-- Link -->
                        <a href="listAnuncios" class="white-text d-flex justify-content-end">
                            <h5>Administrar <i class="fas fa-angle-double-right"></i></h5>
                        </a>
                    </div>
                </div>
                <!-- Card Dark -->
            </div>
            <div class="col-sm-6">
                <!-- Card Dark -->
                <div class="card m-3">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
                            alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body elegant-color white-text rounded-bottom">
                        <!-- Title -->
                        <h4 class="card-title">Usuarios</h4>
                        <hr class="hr-light">
                        <!-- Text -->
                        <p class="card-text white-text mb-4">Observe cuales son los clientes y sus anuncios publicados en este sistema</p>
                        <!-- Link -->
                        <a href="listMensajes" class="white-text d-flex justify-content-end">
                            <h5>Ver <i class="fas fa-angle-double-right"></i></h5>
                        </a>
                    </div>
                </div>
                <!-- Card Dark -->
            </div>
            <div class="col-sm-6">
                <!-- Card Dark -->
                <div class="card m-3">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"
                            alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body elegant-color white-text rounded-bottom">
                        <!-- Title -->
                        <h4 class="card-title">Mensajes</h4>
                        <hr class="hr-light">
                        <!-- Text -->
                        <p class="card-text white-text mb-4">Vea los mensajes y p칩ngase en contacto ante las preguntas de los clientes</p>
                        <!-- Link -->
                        <a href="contactar" class="white-text d-flex justify-content-end">
                            <h5>Contactar <i class="fas fa-angle-double-right"></i></h5>
                        </a>
                    </div>
                </div>
                <!-- Card Dark -->
            </div>
        </div>
    </div>
</div>