<div class="container">
    <div class="sidebar rounded-lg">
        <div class="header  elegant-color p-1">
            <h5 class="h5 text-white text-center">Panel Administracion</h5>
        </div>
        <div class="list-group list-group-flush pl-2 pr-2 pt-5 pb-5">
            <a href="adminPanel" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-home mr-3"></i>Inicio
            </a>
            <a href="componentes" class="list-group-item list-group-item-action waves-effect active">
                <i class="fas fa-plus-circle mr-3"></i>Administar Componentes
            </a>
            <a href="adminAnuncios" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-briefcase mr-3"></i>Administrar Anuncios
            </a>
            <a href="adminUsuarios" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-envelope-open mr-3"></i>Administrar Usuarios</a>
            <a href="adminMensajes" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-headset mr-3"></i>Mensajes</a>
            <a href="" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Mi Cuenta</a>
            <a href="" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesión</a>
        </div>
    </div>
    <div class="content-short white rounded-lg p-5 mb-5">
        <a type="button" class="btn btn-elegant rnd mt-3" href="componentes">Regresar</a>

        <div class="header pt-5">
            <h2 class="font-weight-normal font-italic text-center">Tipos de Inmuebles del sistema</h2>
        </div>
        <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_add_tipo_inmueble">Agregar</button>

        </div>
        <table class="table table-bordered mt-5" id="example">
            <thead>
                <tr>
                    <th>
                        <center>Componente</center>
                    </th>
                    <th>
                        <center>Acción</center>
                    </th>
            </thead>
            <tbody>
                <tr>
                    <td>Terreno</td>
                    <td>
                        <center>
                            <button type="button" class="btn btn-info btn-sm m-0" data-toggle="modal" data-target="#modal_edit_tipo_inmueble">Editar</button>
                            <button type="button" class="btn btn-warning btn-sm m-0">Eliminar</button>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>Edificio</td>
                    <td>
                        <center>
                            <button type="button" class="btn btn-info btn-sm m-0">Editar</button>
                            <button type="button" class="btn btn-warning btn-sm m-0">Eliminar</button>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>Departamento</td>
                    <td>
                        <center>
                            <button type="button" class="btn btn-info btn-sm m-0">Editar</button>
                            <button type="button" class="btn btn-warning btn-sm m-0">Eliminar</button>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal_add_tipo_inmueble" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header elegant-color  justify-content-center">
                <h5 class="modal-title text-white">Agregar Tipo Inmueble</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <input type="text" id="form104" class="form-control">
                    <label for="form104">Tipo</label>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-elegant rnd">Agregar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal_edit_tipo_inmueble" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header elegant-color  justify-content-center">
                <h5 class="modal-title text-white">Editar Tipo Inmueble</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <input type="text" id="form104" class="form-control">
                    <label for="form104">Tipo</label>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-elegant rnd">Editar</button>
            </div>
        </div>
    </div>
</div>