<div class="container">
    <div class="sidebar rounded-lg">
        <div class="header  elegant-color p-1">
            <h5 class="h5 text-white text-center">Mi Panel</h5>
        </div>
        <div class="list-group list-group-flush pl-2 pr-2 pt-5 pb-5">
            <a href="panel" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-home mr-3"></i>Inicio
            </a>
            <a href="addAnuncio" class="list-group-item list-group-item-action waves-effect active">
                <i class="fas fa-plus-circle mr-3"></i>Nuevo Anuncio
            </a>
            <a href="listAnuncios" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-briefcase mr-3"></i>Administrar Anuncios
            </a>
            <a href="#" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-envelope-open mr-3"></i>Mensajes</a>
            <a href="#" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-headset mr-3"></i>Contáctese con Nosotros</a>
            <a href="#" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Mi Cuenta</a>
            <a href="#" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesión</a>
        </div>
    </div>
    <div class="content-panel white rounded-lg mb-5 pb-3 pl-3 pr-3">
        <div class="row d-flex justify-content-center">
            <div class="header pt-5">
                <h2 class="font-weight-normal font-italic">Agregar Anuncio</h2>
            </div>
            <h5 class="font-weight-normal font-italic pl-2 pr-2 text-center">Agrega toda la información de tu inmueble
                para
                que sea publicado en nuestra página web</h5>
        </div>
        <h5 class="font-weight-bolder text-white elegant-color rounded p-2">Informacion general</h5>
        <div class="row border rounded-lg p-2 m-1">
            <div class="md-form input-group">
                <div class="input-group-prepend">
                    <p class=" md-addon">Título del Anuncio</p>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Username"
                    aria-describedby="material-addon1">
            </div>
            <div class="md-form input-group">
                <div class="input-group-prepend">
                    <p class=" md-addon">Descripción</p>
                </div>
                <textarea class="md-textarea form-control" aria-label="With textarea" rows="5"></textarea>
            </div>
        </div>
        <h5 class="font-weight-bolder text-white elegant-color rounded p-2">Datos del Inmueble</h5>
        <div class="row border rounded-lg p-2 m-1">
            <div class="col-md-4 pl-5 pr-5 pt-2">
                <p class="text-center">Transacción</p>
                <!-- Default unchecked -->
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                    <label class="custom-control-label" for="defaultUnchecked">Venta</label>
                </div>
                <!-- Default checked -->
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios"
                        checked>
                    <label class="custom-control-label" for="defaultChecked">Arriendo</label>
                </div>
            </div>
            <div class="col-md-4 pt-2">
                <p class="text-center">Tipo de nmueble</p>
                <select class="browser-default custom-select">
                    <option selected>Seleccione el tipo de Inmueble</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-4 pl-3 pr-3 pt-2">
                <p class="text-center">Tamaño</p>
                <div class="md-form input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon"> <i class=" fas fa-expand-arrows-alt"></i></span>
                    </div>
                    <input type="number" class="form-control" placeholder="Total">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon">m&sup2</span>
                    </div>
                </div>
                <div class="md-form input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon"> <i class=" fas fa-expand-arrows-alt"></i></span>
                    </div>
                    <input type="number" class="form-control" placeholder="Construcción">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon">m&sup2</span>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="font-weight-bolder text-white elegant-color rounded p-2">Costos</h5>
        <div class="row border rounded-lg p-2 m-1">
            <div class="col-md-6 pl-5 pr-5">
                <p class=" text-center">Precio</p>
                <div class="md-form input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon"> <i class=" fas fa-money-bill-alt"></i></span>
                    </div>
                    <input type="number" class="form-control">
                </div>
            </div>
            <div class="col-md-6 pl-5 pr-5">
                <p class="text-center">Alicuota/Condominio</p>
                <div class="md-form input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon"> <i class=" fas fa-money-bill-alt"></i></span>
                    </div>
                    <input type="number" class="form-control">
                </div>
            </div>
        </div>
        <h5 class="font-weight-bolder text-white elegant-color rounded p-2">Características</h5>
        <div class="row  border rounded-lg p-2 m-1 text-center">
            <div class="col-sm-4">
                <i class="grey text-white rounded-circle p-3 mb-1 fas fa-bed fa-2x"></i>
                <input type="number" class="form-control w-50 mx-auto">
                <b>Habitaciones</b>
            </div>
            <div class="col-sm-4">
                <i class="grey text-white rounded-circle p-3 mb-1 fas fa-bath fa-2x"></i>
                <input type="number" class="form-control w-50 mx-auto">
                <b>Baños</b>
            </div>
            <div class="col-sm-4">
                <i class="grey text-white rounded-circle p-3 mb-1 fas fa-toilet fa-2x"></i>
                <input type="number" class="form-control w-50 mx-auto">
                <b>1/2 Baños</b>
            </div>
            <div class="col-sm-6 pt-3 pl-5 pr-5">
                <i class="grey text-white rounded-circle p-3 mb-1 fas fa-car fa-2x"></i>
                <input type="number" class="form-control w-50 mx-auto">
                <b>Estacionamientos</b>
            </div>
            <div class="col-sm-6 pt-3 pl-5 pr-5">
                <i class="grey text-white rounded-circle p-3 mb-1 fas fa-history fa-2x"></i>
                <input type="number" class="form-control w-50 mx-auto">
                <b>Antiguedad (Años)</b>
            </div>
        </div>
        <div class="row border rounded-lg p-2 m-1">
            <div class="col-sm-12">
                <h5>Otros</h5>
                <ul class="col-ch">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
                    </div>
                </ul>

            </div>
        </div>
        <h5 class="font-weight-bolder text-white elegant-color rounded p-2">Ubicación</h5>
        <div class="row border rounded-lg p-2 m-1">
            <div class="col-sm-4">
                <p class="text-center">Provincia</p>
                <select class="browser-default custom-select">
                    <option selected>Seleccione la provincia</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-sm-4">
                <p class="text-center">Cantón</p>
                <select class="browser-default custom-select">
                    <option selected>Seleccione el cantón</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-sm-4">
                <p class="text-center">Zona</p>
                <select class="browser-default custom-select">
                    <option selected>Seleccione la Zona</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-sm-12 pt-2">
                <p class="">Dirección</p>
                <input type="text" class="form-control" placeholder="" aria-label="Username"
                    aria-describedby="material-addon1">
                <p class="pt-2">Localiza tu Inmueble en el mapa</p>
                <div id="map"></div>
            </div>
        </div>
        <h5 class="font-weight-bolder text-white elegant-color rounded p-2">Multimedia</h5>
        <div class="row border rounded-lg p-2 m-1">
            <div class="col-sm-12">
                <h5>Imágenes de su Inmueble</h5>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFileLangHTML">
                    <label class="custom-file-label" for="customFileLangHTML" data-browse="Seleccionar">Seleccione uno o
                        más archivos de imagen</label>

                </div>
                <hr>
                <h5>Subir Video de Youtube</h5>
                <input type="text" class="form-control" placeholder="URL" aria-label="Username">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <button type="button" class="btn btn-elegant rnd  btn-lg">Publicar</button>
        </div>
    </div>
</div>