<div class="container">
    <div class="sidebar rounded-lg">
        <div class="header  elegant-color p-1">
            <h5 class="h5 text-white text-center">Mi Panel</h5>
        </div>
        <div class="list-group list-group-flush pl-2 pr-2 pt-5 pb-5">
            <a href="panel" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-home mr-3"></i>Inicio
            </a>
            <a href="addAnuncio" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-plus-circle mr-3"></i>Nuevo Anuncio
            </a>
            <a href="listAnuncios" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-briefcase mr-3"></i>Administrar Anuncios
            </a>
            <a href="listMensajes" class="list-group-item list-group-item-action waves-effect active">
                <i class="fas fa-envelope-open mr-3"></i>Mensajes</a>
            <a href="#" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-headset mr-3"></i>Contáctese con Nosotros</a>
            <a href="#" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Mi Cuenta</a>
            <a href="#" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesión</a>
        </div>
    </div>
    <div class="content-panel white rounded-lg mb-5  ">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12">
                <div class="header pt-5">
                    <h2 class="font-weight-normal font-italic text-center">Mensajes</h2>
                </div>
            </div>
            <div class="col-sm-12">
                <h5 class="font-weight-normal font-italic pl-2 pr-2 text-center">Mire los mensajes de los interesados en
                    sus inmuebeles</h5>

            </div>

        </div>
        <div class="row d-flex justify-content-center">
            <table id="example" class="display responsive nowrap" width="100%">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <!-- Card -->
                            <div class="card">
                                <!-- Card content -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-8">
                                          <span>Anuncio</span>
                                           <span>Titulo del anuncio</span>
                                           <br>
                                           <span>Nombre</span>
                                           <span>Nombre del Solicitante</span>
                                            <br>
                                           <span>Correo</span>
                                           <span>Correo del Solicitante</span>
                                            <br>
                                           <span>Teléfono</span>
                                           <span>Teléfono del Solicitante</span>
                                            <br>
                                           <span>Mensaje</span>
                                           <span>Mensaje del Solicitante</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="https://api.whatsapp.com/send?phone=593995497436" class="btn btn-md btn-secondary" type="button"
                                                >Button</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Card -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>