<div class="container">
    <div class="sidebar rounded-lg">
        <div class="header  elegant-color p-1">
            <h5 class="h5 text-white text-center">Mi Panel</h5>
        </div>
        <div class="list-group list-group-flush pl-2 pr-2 pt-5 pb-5">
            <a href="panel" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-home mr-3"></i>Inicio
            </a>
            <a href="addAnuncio" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-plus-circle mr-3"></i>Nuevo Anuncio
            </a>
            <a href="listAnuncios" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-briefcase mr-3"></i>Administrar Anuncios
            </a>
            <a href="listMensajes" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-envelope-open mr-3"></i>Mensajes</a>
            <a href="contactar" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-headset mr-3"></i>Contáctese con Nosotros</a>
            <a href="cuenta" class="list-group-item list-group-item-action waves-effect active">
                <i class="fas fa-user mr-3"></i>Mi Cuenta</a>
            <a href="#" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesión</a>
        </div>
    </div>
    <div class="content-panel white rounded-lg mb-5 pl-2 pr-2 ">
        <a type="button" class="btn btn-elegant rnd mt-3" href="cuenta">Regresar</a>

        <div class="header pt-5">
            <h2 class="font-weight-normal font-italic text-center">Editar Cuenta</h2>
        </div>
        <div class="container pb-5">
            <div class="row border rounded pl-2 pr-2 pt-3 pb-2 mb-3">
                <div class="col-sm-12">
                    <h3>Información Basica</h3>
                </div>
                <div class="col-sm-6">
                    <div class="md-form">
                        <i class="fas fa-signature prefix grey-text"></i>
                        <input type="text" id="form104" class="form-control">
                        <label for="form104">Nombre</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form">
                        <i class="fas fa-signature prefix grey-text"></i>
                        <input type="text" id="form104" class="form-control">
                        <label for="form104">Apellido</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="form104" class="form-control">
                        <label for="form104">Correo</label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="md-form">
                        <i class="fas fa-phone prefix grey-text"></i>
                        <input type="tel" id="form104" class="form-control">
                        <label for="form104">Teléfono</label>
                    </div>
                </div>

            </div>
            <div class="row border rounded pl-2 pr-2 pt-3 pb-2 mb-3">
                <div class="col-sm-12">
                    <h3>Información Empresa</h3>
                </div>
                <div class="col-sm-6">
                    <div class="md-form">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="Text" id="form104" class="form-control">
                        <label for="form104">Nombre Empresa</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="form104" class="form-control">
                        <label for="form104">Correo Empresa</label>
                    </div>
                </div>
                <div class="col-sm-6 pt-4">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFileLangHTML">
                        <label class="custom-file-label" for="customFileLangHTML" data-browse="Seleccionar">Logo de la
                            Empresa</label>
                    </div>

                </div>
                <div class="col-sm-6">
                    <img src="https://i.pinimg.com/236x/56/ef/84/56ef843c7222b295e1ffbb7db3ba0a90.jpg"
                        class="rounded mx-auto d-block" alt="...">
                </div>
            </div>
            <div class="row border rounded-lg p-2 mb-2">
                  <div class="col-sm-12">
                    <h3>Cobertura</h3>
                  </div>
                <div class="col-sm-6">
                    <div class="md-form">
                        <i class="fas fa-city prefix grey-text"></i>
                        <select class="selectpicker form-control ml-5 pr-5">
                            <option>sdfsd</option>
                            <option>sdfsd</option>
                            <option>sdfsd</option>
                            <option>sdfsd</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row border rounded-lg p-2 m-5">
                <div class="col-sm-12">
                    <div class="d-flex justify-content-around">
                        <a href="editarCuenta" type="button" class="rnd btn btn-elegant  mb-2">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>