<div class="container">
    <div class="sidebar rounded-lg">
        <div class="header  elegant-color p-1">
            <h5 class="h5 text-white text-center">Mi Panel</h5>
        </div>
        <div class="list-group list-group-flush pl-2 pr-2 pt-5 pb-5">
            <a href="panel" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-home mr-3"></i>Inicio
            </a>
            <a href="addAnuncio" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-plus-circle mr-3"></i>Nuevo Anuncio
            </a>
            <a href="listAnuncios" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-briefcase mr-3"></i>Administrar Anuncios
            </a>
            <a href="listMensajes" class="list-group-item list-group-item-action waves-effect active">
                <i class="fas fa-envelope-open mr-3"></i>Mensajes</a>
            <a href="contactar" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-headset mr-3"></i>Contáctese con Nosotros</a>
            <a href="cuenta" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Mi Cuenta</a>
            <a href="#" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesión</a>
        </div>
    </div>
    <div class="content-panel white rounded-lg mb-5 pl-3 pr-3 ">
        <div class="header pt-5">
            <h2 class="font-weight-normal font-italic text-center">Mensajes</h2>
        </div>
        <h5 class="font-weight-normal font-italic pl-2 pr-2 text-center">Mire los mensajes de los
            interesados en
            sus inmuebeles</h5>
        <table id="example" class="hover">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="container border rounded border-dark p-3">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="font-weight-bolder  ">Anuncio:</h6>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Titulo del anuncio</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6 class="font-weight-bolder  ">Nombre:</h6>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Nombre del interesado</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6 class="font-weight-bolder  ">Correo:</h6>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Correo del interesado</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6 class="font-weight-bolder  ">Teléfono:</h6>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Teléfono del interesado</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6 class="font-weight-bolder  ">Mensaje:</h6>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Mensadel interesado</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <a href="https://api.whatsapp.com/send?phone=593995497436"
                                        class="btn btn-md btn-elegant btn-block rnd" type="button"><i
                                            class="far fa-eye pr-3"></i>Ver Anuncio</a>
                                    <br>
                                    <br>
                                    <a href="https://api.whatsapp.com/send?phone=593995497436"
                                        class="btn btn-md btn-success  btn-block rnd" type="button"><i
                                            class="fab fa-whatsapp pr-3"></i>Contactar</a>
                                    <br>
                                    <br>
                                    
                                    <a href="https://api.whatsapp.com/send?phone=593995497436"
                                        class="btn btn-md btn-danger btn-block rnd" type="button"><i
                                            class="fas fa-trash pr-3"></i>Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="container border rounded border-dark p-3">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="font-weight-bolder  ">Anuncio:</h6>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Titulo del anuncio</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6 class="font-weight-bolder  ">Nombre:</h6>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Nombre del interesado</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6 class="font-weight-bolder  ">Correo:</h6>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Correo del interesado</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6 class="font-weight-bolder  ">Teléfono:</h6>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Teléfono del interesado</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6 class="font-weight-bolder  ">Mensaje:</h6>
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Mensadel interesado</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <a href="https://api.whatsapp.com/send?phone=593995497436"
                                        class="btn btn-md btn-elegant btn-block rnd" type="button"><i
                                            class="far fa-eye pr-3"></i>Ver Anuncio</a>
                                    <br>
                                    <br>
                                    <a href="https://api.whatsapp.com/send?phone=593995497436"
                                        class="btn btn-md btn-success  btn-block rnd" type="button"><i
                                            class="fab fa-whatsapp pr-3"></i>Contactar</a>
                                    <br>
                                    <br>
                                    <a href="https://api.whatsapp.com/send?phone=593995497436"
                                        class="btn btn-md btn-danger btn-block rnd" type="button"><i
                                            class="fas fa-trash pr-3"></i>Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>