<div class=" container-felx grey lighten-2" >
  <!-- Full Page Intro -->
  <div class="view" style="height: 65vh; position: sticky;">

    <!--Video source-->
    <video class="video-intro" autoplay loop muted>
      <source src="/videos/presentacion.mp4" type="video/mp4">
    </video>
    <!--Video source-->
  </div>
  <!-- Card Narrower -->

  <div class="card card-cascade narrower ml-5 mr-5 mt-5 ">
    <!-- Card content -->
    <div class="card-body card-body-cascade ">
      <h4 class="card-title text-center ">Bienvenido a <b>Inmuebles YA!</b></h4>
      <p class="text-center">El mejor lugar para comprar, vender o arrendar inmuebles en Ecuador</p>
      <hr class="hr">
      <div class="row">
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-2 mt-4">
              <p class="custom-control-inline">Comprar</p>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <p class="custom-control-inline">Arrendar</p>
            </div>
            <div class="col-sm-4">
              <div class="md-form input-with-pre-icon">
                <i class="fas fa-map-marker-alt input-prefix"></i>
                <input type="search" id="myInput" class="form-control">
                <label for="myInput">Lugar</label>
              </div>
            </div>
            <div class="col-sm-2">
              <!-- Material input -->
              <div class="md-form input-with-pre-icon">
                <i class="fas fa-users input-prefix"></i>
                <input type="number" id="numberExample" class="form-control" max="7" min="1">
                <label for="numberExample"> No. Habitantes</label>
              </div>
            </div>
            <div class="col-sm-2">
              <!-- Material input -->
              <div class="md-form input-with-pre-icon">
                <i class="fas fa-dollar-sign input-prefix"></i>
                <input type="number" id="numberExample" class="form-control" min="0">
                <label for="numberExample">Min</label>
              </div>
            </div>
            <div class="col-sm-2">
              <!-- Material input -->
              <div class="md-form input-with-pre-icon">
                <i class="fas fa-dollar-sign input-prefix"></i>
                <input type="number" id="numberExample" class="form-control" min="0">
                <label for="numberExample">Max</label>
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <!-- Default inline 1-->
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline1">

                <label class="custom-control-label" for="defaultInline1"><i class="fas fa-home"></i>
                  Casa</label>
              </div>

              <!-- Default inline 2-->
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline2">
                <label class="custom-control-label" for="defaultInline2"><i class="fas fa-building"></i>
                  Departamento</label>
              </div>
              <!-- Default inline 2-->
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline2">
                <label class="custom-control-label" for="defaultInline2"><i class="fas fa-map-marked-alt"></i>
                  Terreno</label>
              </div>

              <!-- Default inline 3-->
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline3">
                <label class="custom-control-label" for="defaultInline3"> <i class="fas fa-hammer"></i>
                  Proyecto</label>
              </div>
              <!-- Default inline 3-->
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline4">
                <label class="custom-control-label" for="defaultInline4"> <i class="fas fa-briefcase"></i>
                  Oficina</label>
              </div>
              <!-- Default inline 3-->
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline4">
                <label class="custom-control-label" for="defaultInline4"> <i class="fas fa-store"></i>
                  Local</label>
              </div>
              <!-- Default inline 3-->
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline5">
                <label class="custom-control-label" for="defaultInline5"><i class="fas fa-ellipsis-h"></i>
                  Otros</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 mt-4 text-center">
          <button type="button" class="btn btn-outline-warning waves-effect "><i class="fas fa-search"></i>
            Buscar</button>
        </div>
      </div>

    </div>
  </div>
  <br>
</div>