  <div class="container p-4">
      <div class="row">
          <div class="col-md4 mx-auto">
              <div class="card text-center">
                  <div class="card-header">
                      <h3>LOGIN</h3>
                  </div>
                  <div class="card-body">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <input type="text" name="USUARIO" id="USUARIO" placeholder="Usuario" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="CONTRASENA" id="CONTRASENA" placeholder="Contraseña" required>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                    Ingresar
                                </button>
                            </div>
                        </form>
                  </div>
              </div>
          </div>
      </div>
  </div>